{% extends "base.html"%}


{% block content %}

            <div class="templatemo_product_box">
            	<h1>{{book.title}}<span> (by {{book.autor}})</span></h1>
            	<center><img src="{{book.slug}} "/> </center>
                <div class="product_info">
                	<p>{{book.text}}</p>
                    <h3>{{book.price}}zł</h3>
                    <div>
                        <div class="buy_now_button"><a href="#">Kup teraz</a></div>
                    </div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            <div class="new_opinion_button"><a href="/add_opinion/{{book.id}}">Dodaj opinię</a></div>
            {% for opinion in opinions %}
                    <p>{{opinion.opinion}}</p></br>
            {% endfor %}

            <div class="cleaner_with_height">&nbsp;</div>
{% endblock %}