{% extends "base.html"%}


{% block content %}

            <div class="templatemo_product_box">
            	<h1><span></span></h1>
            	<!-- <img src="/static/images/#" alt="image" /> -->
                <div class="product_info">
                	<p></p>
                    <h3></h3>
                    <div class="buy_now_button"><a href="#">Kup teraz</a></div>
                    <div class="detail_button"><a href="#">Więcej</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>

            <div class="cleaner_with_height">&nbsp;</div>
{% endblock %}