{% extends "base.html"%}


{% block content %}

	<h2>W razie pytań dotyczących oferty lub zamówienia prosimy o kontakt z Biurem Obsługi Klienta Księgarni Internetowej PWN. </h2><br>
	Infolinia: 801 33 33 88 <br>
	Adres e-mail:  ksiegarnia@pwn.pl<br>
	Biuro Obsługi Klienta czynne w dniach: poniedziałek-piątek w godzinach 9.00-17.00 <br>
 <br><br>
	<h2>Korespondencję prosimy kierować na adres: </h2><br>
	Księgarnia Internetowa PWN <br>
	ul. Gottlieba Daimlera 2   <br>
	02-460 WARSZAWA            <br>
	NIP: 526-01-52-235         <br>

            
{% endblock %}